body {
  text-align:center;
  margin:0;
  
  /* 背景用logoをリピートする */
}

#container {
  width:96%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

h2 {
  margin-top:0;
  padding-top:20px;
  color:#680305;
}

h3 {
  color:#B30509;
  border-bottom:solid 5px #680305;
  border-left:solid 20px #680305;
}

blockquote {
  background-color:#eee;
  border:dashed 1px black;
}

#header {
  background-color:#000;
  background-image:url(https://googledrive.com/host/0BwVRCae9HsBBNmlTc0JEV0l2RmM/headerback.png);
  background-position:left bottom;
  background-repeat:repeat-x;
  padding-bottom:60px;
  padding-top:10px;
}

#header > h1 {
  color:#fff;
  border-bottom:solid 5px #fff;
  margin-left:1em;
}

#header > h1:first-letter {
  color:#000;
  background-color:#fff;
  font-size:2em;
}

#header img {
  float:right;
}

#main {
  margin-right:200px;
  
  background-color:white;
}

#main > * {
  margin-right:10px;
  margin-left:10px;
}

#main p {
  padding-left:25px;
}

#main code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

#main ul {
  list-style-type: square;
}

#sidebar {
  width:200px;
  float:right;
  
  /* 背景タイルをリピートする */
  background-color:#fff;
  background-image:url(https://googledrive.com/host/0BwVRCae9HsBBNmlTc0JEV0l2RmM/sidebartile2.png);
}

#sidebar > * {
  margin:5px;
}

#sidebar h3 {
  color:black;
  border:none;
  border-top:solid 2px green;
  border-bottom:solid 2px green;
  text-align:center;
  background-color:#ccffff;
}

#sidebar h3:first-letter {
  font-size:2em;
  font-weight:bold;
}

#footer {
  width:100%;
  clear:left;
  
  /* 背景画像 */
}

.postcont {
  margin-left:50px;
}

img {
  /* aタグ内などで枠を付けさせない */
  border:none;
}
