body {
  text-align:center;
  
  /* 背景用logoをリピートする */
}

#container {
  width:96%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

#main {
  width:100%;
  float:left;
  margin-right:-200px;
  
  background-color:white;
}

#main > * {
  margin-right:200px;
}

#sidebar {
  width:200px;
  float:left;
  
  /* 背景タイルをリピートする */
}

#sidebar > * {
  margin:5px;
}

h3 {
  font-weight:underline red;
  border-top:solid 2px green;
  border-bottom:solid 2px green;
  text-align:center;
  background-color:#ccffff;
}

h3:first-letter {
  font-size:2em;
  font-weight:bold;
}

#fotter {
  width:100%;
  clear:left;
  
  /* 背景画像 */
}

img {
  /* aタグ内などで枠を付けさせない */
  border:none;
}
