body {
  text-align:center;
  
  /* 背景用logoをリピートする */
}

#container {
  width:96%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

h1 {
  margin:0;
}

h2 {
  color:red;
}

h3 {
  color:green;
  border-bottom:solid 5px green;
  border-left:solid 20px green;
}

blockquote {
  background-color:gray;
  border:dashed 1px black;
}

#header {
  background-color:#000;
  background-image:url(https://f.cloud.github.com/assets/5576560/1621601/b299c9ea-5691-11e3-9bb9-34e327c3f7dc.png);
  background-position:left bottom;
  background-repeat:repeat-x;
  padding-bottom:60px;
}

#header > h1 {
  color:#fff;
  border-bottom:solid 5px #fff;
  margin-left:1em;
  margin-bottom:10px;
}

#header > h1:first-letter {
  color:#000;
  background-color:#fff;
  font-size:2em;
}

#main {
  width:100%;
  float:left;
  margin-right:-200px;
  
  background-color:white;
}

#main > * {
  margin-right:200px;
}

#sidebar {
  width:200px;
  float:left;
  
  /* 背景タイルをリピートする */
  background-color:#fff;
  background-image:url(https://f.cloud.github.com/assets/5576560/1555561/96321d28-4e69-11e3-886c-f0764c006240.png);
}

#sidebar > * {
  margin:5px;
}

#sidebar h3 {
  color:black;
  border:none;
  border-top:solid 2px green;
  border-bottom:solid 2px green;
  text-align:center;
  background-color:#ccffff;
}

#sidebar h3:first-letter {
  font-size:2em;
  font-weight:bold;
}

#fotter {
  width:100%;
  clear:left;
  
  /* 背景画像 */
}

.postcont {
  margin-left:50px;
}

img {
  /* aタグ内などで枠を付けさせない */
  border:none;
}
