<div id="sidebar">
  <div id="about">
    <h3>
      自己紹介
    </h3>
    <p>
      Ruby/DXRubyを愛用する学生。優秀な仲間とRPGを作ろうとしている。<br />
      このページでは、自分のしたことを公開していきます。<br />
      Twitter:<a href="http://twitter.com/GameKazu">@GameKazu</a>
    </p>
  </div>
  
  <div id="allpage" class="sidelist">
    <h3>
      ページ一覧
    </h3>
    <ul>
    {% for pg in site.pages %}
      <li>
        <a href="{{ pg.url }}">
          {{ pg.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  
  <div id="recent" class="sidelist">
    <h3>
      最近の記事
    </h3>
    <ul>
    {% assign post0 = false %}
    {% assign post1 = false %}
    {% assign post2 = false %}
    {% assign post3 = false %}
    {% assign post4 = false %}
    {% assign post5 = false %}
    {% assign post6 = false %}
    {% assign post7 = false %}
    {% assign post8 = false %}
    {% assign post9 = false %}
    {% for post in site.posts %}
      {% assign nowp = post %}
      {% if nowp %}
        {% if post0 == false %}
          {% assign post0 = nowp %}
          {% assign nowp = false %}
        {% elsif post0.date < nowp.date %}
          {% assign post0 = nowp %}
          {% assign nowp = false %}
        {% elsif post0.date == nowp.date %}
          {% assign p = post0 %}
          {% assign post0 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
      {% if nowp %}
        {% if post1 == false %}
          {% assign post1 = nowp %}
          {% assign nowp = false %}
        {% elsif post1.date < nowp.date %}
          {% assign post1 = nowp %}
          {% assign nowp = false %}
        {% elsif post1.date == nowp.date %}
          {% assign p = post1 %}
          {% assign post1 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
      {% if nowp %}
        {% if post2 == false %}
          {% assign post2 = nowp %}
          {% assign nowp = false %}
        {% elsif post2.date < nowp.date %}
          {% assign post2 = nowp %}
          {% assign nowp = false %}
        {% elsif post2.date == nowp.date %}
          {% assign p = post2 %}
          {% assign post2 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
      {% if nowp %}
        {% if post3 == false %}
          {% assign post3 = nowp %}
          {% assign nowp = false %}
        {% elsif post3.date < nowp.date %}
          {% assign post3 = nowp %}
          {% assign nowp = false %}
        {% elsif post3.date == nowp.date %}
          {% assign p = post3 %}
          {% assign post3 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
      {% if nowp %}
        {% if post4 == false %}
          {% assign post4 = nowp %}
          {% assign nowp = false %}
        {% elsif post4.date < nowp.date %}
          {% assign post4 = nowp %}
          {% assign nowp = false %}
        {% elsif post4.date == nowp.date %}
          {% assign p = post4 %}
          {% assign post4 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
      {% if nowp %}
        {% if post5 == false %}
          {% assign post5 = nowp %}
          {% assign nowp = false %}
        {% elsif post5.date < nowp.date %}
          {% assign post5 = nowp %}
          {% assign nowp = false %}
        {% elsif post5.date == nowp.date %}
          {% assign p = post5 %}
          {% assign post5 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
      {% if nowp %}
        {% if post6 == false %}
          {% assign post6 = nowp %}
          {% assign nowp = false %}
        {% elsif post6.date < nowp.date %}
          {% assign post6 = nowp %}
          {% assign nowp = false %}
        {% elsif post6.date == nowp.date %}
          {% assign p = post6 %}
          {% assign post6 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
      {% if nowp %}
        {% if post7 == false %}
          {% assign post7 = nowp %}
          {% assign nowp = false %}
        {% elsif post7.date < nowp.date %}
          {% assign post7 = nowp %}
          {% assign nowp = false %}
        {% elsif post7.date == nowp.date %}
          {% assign p = post7 %}
          {% assign post7 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
      {% if nowp %}
        {% if post8 == false %}
          {% assign post8 = nowp %}
          {% assign nowp = false %}
        {% elsif post8.date < nowp.date %}
          {% assign post8 = nowp %}
          {% assign nowp = false %}
        {% elsif post8.date == nowp.date %}
          {% assign p = post8 %}
          {% assign post8 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
      {% if nowp %}
        {% if post9 == false %}
          {% assign post9 = nowp %}
          {% assign nowp = false %}
        {% elsif post9.date < nowp.date %}
          {% assign post9 = nowp %}
          {% assign nowp = false %}
        {% elsif post9.date == nowp.date %}
          {% assign p = post9 %}
          {% assign post9 = nowp %}
          {% assign nowp = p %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if post0 %}
      <li>
        <a href="{{ post0.url }}">
          {{ post0.date | date: "[%Y/%m/%d]" }}{{ post0.title }}
        </a>
      </li>
    {% endif %}
    {% if post1 %}
      <li>
        <a href="{{ post1.url }}">
          {{ post1.date | date: "[%Y/%m/%d]" }}{{ post1.title }}
        </a>
      </li>
    {% endif %}
    {% if post2 %}
      <li>
        <a href="{{ post2.url }}">
          {{ post2.date | date: "[%Y/%m/%d]" }}{{ post2.title }}
        </a>
      </li>
    {% endif %}
    {% if post3 %}
      <li>
        <a href="{{ post3.url }}">
          {{ post3.date | date: "[%Y/%m/%d]" }}{{ post3.title }}
        </a>
      </li>
    {% endif %}
    {% if post4 %}
      <li>
        <a href="{{ post4.url }}">
          {{ post4.date | date: "[%Y/%m/%d]" }}{{ post4.title }}
        </a>
      </li>
    {% endif %}
    {% if post5 %}
      <li>
        <a href="{{ post5.url }}">
          {{ post5.date | date: "[%Y/%m/%d]" }}{{ post5.title }}
        </a>
      </li>
    {% endif %}
    {% if post6 %}
      <li>
        <a href="{{ post6.url }}">
          {{ post6.date | date: "[%Y/%m/%d]" }}{{ post6.title }}
        </a>
      </li>
    {% endif %}
    {% if post7 %}
      <li>
        <a href="{{ post7.url }}">
          {{ post7.date | date: "[%Y/%m/%d]" }}{{ post7.title }}
        </a>
      </li>
    {% endif %}
    {% if post8 %}
      <li>
        <a href="{{ post8.url }}">
          {{ post8.date | date: "[%Y/%m/%d]" }}{{ post8.title }}
        </a>
      </li>
    {% endif %}
    {% if post9 %}
      <li>
        <a href="{{ post9.url }}">
          {{ post9.date | date: "[%Y/%m/%d]" }}{{ post9.title }}
        </a>
      </li>
    {% endif %}
    </ul>
  </div>
</div>
