<div id="sidebar">
  <div id="about">
    <h3>
      自己紹介
    </h3>
    <p>
      Ruby/DXRubyを愛用する学生。優秀な仲間とRPGを作ろうとしている。<br />
      このページでは、自分のしたことを公開していきます。<br />
      Twitter:<a href="http://twitter.com/GameKazu">@GameKazu</a>
    </p>
  </div>
  
  <div id="allpage" class="sidelist">
    <h3>
      ページ一覧
    </h3>
    <ul>
    {% for pg in site.pages %}
      <li>
        <a href="{{ pg.url }}">
          {{ pg.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  
  <div id="recent" class="sidelist">
    <h3>
      最近の記事
    </h3>
    <ul>
    {% sortposts %}
<!--    
      <li>
        <a href="{{ post.url }}">
          {{ post.date | "[%Y/%m/%d]"}}{{ post.title }}
        </a>
      </li>
    
-->    {% endsortposts %}
    </ul>
  </div>
</div>
