<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <script type="text/javascript" src="js/footerFixed.js"></script>
    <title>
      {{ page.title }} -- DXRubyRPG Project
    </title>
  </head>
  <body>
    <div id="container">
      {% include header.html %}
      {% include sidebar.html %}
      <div id="main">
        <div>
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
